{{>header}}

 <div class="row-fluid">
   <div class="span6">
     {{#info}}
       <h3>Info</h3>
       <table>
         <tr>
           <td>
             Title:
           </td>
           <td>
             {{title}}
           </td>
         </tr>
         <tr>
           <td>
             Author:
           </td>
           <td>
             {{author}}
           </td>
         </tr>
         <tr>
           <td>
             Year:
           </td>
           <td>
             {{publishing-date}}
           </td>
         </tr>
         <tr>
           <td>
             Publisher:
           </td>
           <td>
             {{publisher}}
           </td>
         </tr>
       </table>
       <h3>
         Prices
       </h3>
       <ol>
         {{#prices}}
           <li>
             <a href="{{url}}">{{name}}</a> : {{price}}
           </li>
         {{/prices}}
         {{#kindle-page}}
           <li>
             <a href="{{.}}">kindle edition</a> : <a href="{{.}}">click to see page</a>
           </li>
         {{/kindle-page}}
         {{^prices}}
         <script type="text/javascript">
         window.onload = function() {
           setTimeout("location.reload(true)", 30 * 1000);
         };
         </script>
         <p>
           Fetching prices... will refresh automatically in 30 seconds.
         </p>
         {{/prices}}
       </ol>
       <div class="prices-as-of">
         <i class="icon-info-sign"></i>
         Prices refreshed after 24 hours
       </div>
   </div>
   <div class="span6">
     <p>
       {{#image}}
         <img src="{{image}}" alt="{{title}}"/>
       {{/image}}
     </p>
   </div>
 </div>
{{/info}}

{{>footer}}
