

    </div><!-- #content -->
    <hr />
    <div class="page-footer">
      <p>
        Copyright &copy; 2010-2012, Swaroop C H
        &nbsp;
        |
        &nbsp;
        <a href="http://www.swaroopch.com/contact/">Contact</a>
      </p>
    </div>
  </body>
</html>
