<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/site.css" rel="stylesheet" type="text/css"/>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="page-header">
      <h1 id="heading">isbn.net.in</h1>
      <h2 class="subheading">A quick way to find the online prices for a book in India</h2>
    </div>
    <div id="content" class="container-fluid">
