{{>header}}

<h2>
  Popular books in past 24 hours
</h2>

<table class="table" cellpadding="10px">
  {{#books}}
    {{#title}}
      <tr>
        <td style="width:100px; height:100px;">
          {{#image}}
            <img src="{{image}}" alt="{{title}}"/>
          {{/image}}
        </td>
        <td style="vertical-align: middle;">
          <a href="/{{isbn}}">{{isbn}}</a> : {{title}} by {{author}}
        </td>
      </tr>
    {{/title}}
  {{/books}}
</table>

<p>
  <small>
    <i class="icon-info-sign"></i>
    Note: This list will be refreshed hourly.
  </small>
</p>

{{>footer}}
